<div class="side-top">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  <div class="create-chat-btn"><a href="#">チャットを作成する</a></div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">城下町</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">王城前</a>
    </div>
  </div>
</div>