<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="side-top">
    
    </div>
    <div class="rooms">
    
    </div>
  </div>

  <div class="main-chat">
    <%= render "main_chat" %>
    <div class="chat-top">
    
    </div>
    <div class="chat">
    
    </div>
    <div class="form">
    
    </div>
  </div>
</div>